// ------COLORS------
$linkHeader-color: #000;
$brand-color: #00acdc;
$primary-blue: #060b35;
$secondary-gray: #616070;
$cardTitleHover: #34568b;

// -----SCREEN SIZES------
$screeSize-S: 488px;
$screeSize-M: 768px;
$screeSize-L: 1024px;

// ----FONT SIZES------
$fs-S: 10px;
$fs-M: 12px;
$fs-L: 16px;
